In [1]:
import pandas as pd

In [2]:
INPUT_FILE_PATH = "https://datahub.io/JohnSnowLabs/drinking-water-quality-distribution-monitoring-data/r/drinking-water-quality-distribution-monitoring-data-csv.csv"

In [3]:
df = pd.read_csv(INPUT_FILE_PATH)

In [4]:
df

,Sample_Number,Sample_Date,Sample_Site,Sample_Class,Water_Sample_Location,Residual_Free_Chlorine,Turbidity_NTU,Fluoride,Coliform,E_Coli
0,NaN,2015-01-01,1S07,Operational,SS - Shaft 7 of City Tunnel No. 1 - W/S Sedgwi...,0.58,0.96,0.79,<1,<1
1,NaN,2015-01-01,1S04,Operational,SS - Shaft 4 of City Tunnel No.1 - IFO 2780 Re...,0.71,0.94,0.80,<1,<1
2,NaN,2015-01-01,1S03A,Operational,SS - Shaft 3A of City Tunnel No. 2 - IFO 823 S...,0.79,0.93,0.79,<1,<1
3,NaN,2015-01-01,1S03B,Operational,SS - Shaft 3B of City Tunnel No. 3 - Mosholu A...,0.77,0.93,0.80,<1,<1
4,NaN,2015-01-01,11550,Compliance,"SS - IFO 1058 S/S E Gun Hill Rd, 1st SS E/O Ho...",0.74,0.95,NaN,<1,<1
5,NaN,2015-01-01,13850,Compliance,"SS - IFO 1778 E/S Jerome Ave, 1st SS S/O E 176...",0.59,1.08,NaN,<1,<1
6,NaN,2015-01-01,15550,Compliance,"SS - IFO 2499 W/S Grand Ave, 1st SS S/O W 190t...",0.54,0.90,NaN,<1,<1
7,NaN,2015-01-01,17550,Compliance,"SS - IFO 309 N/S E 149th St, 2nd SS W/O Courtl...",0.56,1.00,NaN,<1,<1
8,NaN,2015-01-01,20900,Operational,"SS - IFO 177 S/S Sands St, btw Gold & Bridge S...",0.54,0.92,NaN,<1,<1
9,NaN,2015-01-01,21850,Compliance,"SS - IFO 37 E/S 7th Ave, 1st SS S/O St Johns P...",0.55,0.91,NaN,<1,<1
10,NaN,2015-01-01,22050,Compliance,"SS - IFO 130 E/S Humboldt St, 2nd SS S/O Boeru...",0.55,1.00,NaN,<1,<1
11,NaN,2015-01-01,23350,Compliance,"SS - W/S Ocean Ave, 2nd SS S/O Ditmas Ave, 12 ...",0.45,0.98,NaN,<1,<1
12,NaN,2015-01-01,23650,Compliance,"SS - E/S Nostrand Ave, 2nd SS N/O Ave W, 20 inch",0.63,1.02,NaN,<1,<1
13,NaN,2015-01-01,24150,Compliance,"SS - IFP 2220 S/S Atlantic Ave, 2nd SS E/O Hop...",0.41,0.96,NaN,<1,<1
14,NaN,2015-01-01,25250,Compliance,"SS - S/S Foster Ave, btw E 102nd & E 103rd Sts...",0.55,0.94,NaN,<1,<1
15,NaN,2015-01-01,27000,Operational,"SS - IFO 383 W/S Hooper St, btw S 1st & S 2nd ...",0.53,1.06,NaN,<1,<1
16,NaN,2015-01-01,29550,Compliance,"SS - N/S Bay Ridge Ave, 2nd SS W/O 4th Ave, 12...",0.45,0.86,NaN,<1,<1
17,NaN,2015-01-01,30950,Compliance,"SS - W/S South End Ave, 2nd SS N/O West Thames...",0.59,0.95,NaN,<1,<1
18,NaN,2015-01-01,32550,Compliance,"SS - W/S Ave C, 1st SS N/O E 15th St",0.54,0.85,NaN,<1,<1
19,NaN,2015-01-01,34550,Compliance,"SS - IFO 133 N/S 128th St, 2nd SS W/O Lenox Av...",0.79,0.93,NaN,<1,<1
20,NaN,2015-01-01,35750,Compliance,"SS - N/S W 83rd St, 2nd SS W/O Central Park We...",0.59,0.85,NaN,<1,<1
21,NaN,2015-01-01,39750,Compliance,"SS - IFO 321 N/S E 71st St, 2nd SS W/O 1st Ave...",0.63,0.93,NaN,<1,<1
22,NaN,2015-01-01,40200,Operational,"SS - S/S 19th Ave, btw 41st & Steinway Sts, 60...",0.73,1.18,NaN,<1,<1
23,NaN,2015-01-01,40750,Compliance,"SS - N/S Northern Blvd, 1st SS W/O 78th St, 12...",0.63,0.99,NaN,<1,<1
24,NaN,2015-01-01,41150,Compliance,"SS - OPP 110-08 W/S Colonial Ave, 2nd SS S/O 6...",0.31,0.83,NaN,<1,<1
25,NaN,2015-01-01,41350,Compliance,"SS - W/S Menahan St, 1st SS N/O Onderdonk Ave,...",0.58,0.91,NaN,<1,<1
26,NaN,2015-01-01,41850,Compliance,"SS - IFO 67-02 W/S Bell Blvd, 1st SS S/O 67th ...",0.54,1.17,NaN,<1,<1
27,NaN,2015-01-01,44750,Compliance,"SS - IFO 67-02 W/S Parsons Blvd, 2nd SS N/O Je...",0.47,0.93,NaN,<1,<1
28,NaN,2015-01-01,50650,Compliance,"SS - E/S York Ave, 1st SS N/O Pauw St, 8""",0.77,0.96,NaN,<1,<1
29,NaN,2015-01-01,51150,Compliance,"SS - IFO 650 S/S Tysens La, 2nd SS E/O Falcon ...",0.82,0.96,NaN,<1,<1
...,...,...,...,...,...,...,...,...,...,...
37915,21193.0,2017-07-31,27000,Operational,"SS - IFO 383 W/S Hooper St, btw S 1st & S 2nd ...",0.59,0.55,NaN,<1,<1
37916,21194.0,2017-07-31,27550,Compliance,"SS - SE/S Farragut Rd, btw E 81st & E 82nd Sts...",0.28,0.53,NaN,<1,<1
37917,21195.0,2017-07-31,27600,Operational,"SS - E/S Palmetto St, btw Bushwick & Evergreen...",0.51,0.63,NaN,<1,<1
37918,21196.0,2017-07-31,27850,Compliance,"SS - IFO 136 S/S Kent St, 2nd SS E/O Franklin ...",0.43,0.55,NaN,<1,<1
37919,21197.0,2017-07-31,29050,Compliance,"SS - N/S 81st St, 1st SS E/O 19th Ave, 12 inch",0.53,0.61,NaN,<1,<1
37920,21198.0,2017-07-31,29450,Compliance,"SS - IFO 4011 E/S 7th Ave, 1st SS S/O 40th St,...",0.44,0.55,NaN,<1,<1
37921,21199.0,2017-07-31,31950,Compliance,"SS - IFO 313 N/S W 47th St, 2nd SS W/O 8th Ave...",0.57,0.60,NaN,<1,<1
37922,21200.0,2017-07-31,32650,Compliance,"SS - IFO 14 S/S W 18th St, 2nd SS W/O 5th Ave,...",0.42,0.67,NaN,<1,<1
37923,21201.0,2017-07-31,33300,Operational,"SS - S/S W 125th St, btw 7th & 8th Aves (IFO L...",0.56,0.53,NaN,<1,<1
37924,21202.0,2017-07-31,34850,Compliance,"SS - N/S W 53rd St, 1st SS W/O 5th Ave",0.53,0.50,NaN,<1,<1
37925,21203.0,2017-07-31,35150,Compliance,"SS - IFO 21 E/S Bennett Ave, 2nd SS N/O W 181s...",0.67,0.69,NaN,<1,<1
37926,21204.0,2017-07-31,36350,Compliance,"SS - IFO 165 N/S E 112th St, 1st SS E/O Lexing...",0.27,0.78,NaN,<1,<1
37927,21205.0,2017-07-31,37300,Operational,"SS - IFO 3401 W/S Broadway, btw W 138th & W 13...",0.48,0.46,NaN,<1,<1
37928,21206.0,2017-07-31,3SC26,Operational,"Shaft 26 of New Croton Aqueduct, 179th St Pump...",0.50,0.61,NaN,<1,<1
37929,21207.0,2017-07-31,40200,Operational,"SS - S/S 19th Ave, btw 41st & Steinway Sts, 60...",0.66,0.65,NaN,<1,<1
37930,21208.0,2017-07-31,40650,Compliance,"SS - IFO 30-12 W/S 94th St, 1st SS S/O 30th Av...",0.70,0.68,NaN,<1,<1
37931,21209.0,2017-07-31,41300,Operational,"SS - S/S Cypress Ave, btw De Kalb Ave & Stockh...",0.54,0.57,NaN,<1,<1
37932,21210.0,2017-07-31,41450,Compliance,"SS - OPP 1820 W/S Decatur St, 2nd SS S/O Fores...",0.35,0.52,NaN,<1,<1
37933,21211.0,2017-07-31,42750,Compliance,"SS - IFO 64 - 50A W/S 188th St, 2nd SS S/O 64t...",0.15,0.50,NaN,<1,<1
37934,21212.0,2017-07-31,44250,Compliance,"SS - IFO 50-05 N/S Broadway, 2nd SS E/O 49th S...",0.41,0.52,NaN,<1,<1
37935,21213.0,2017-07-31,46950,Compliance,"SS - IFO 118-40 S/S Metropolitan Ave, 2nd SS E...",0.51,0.59,NaN,<1,<1
37936,21214.0,2017-07-31,48600,Operational,"SS - W/S Rockaway Blvd, btw S Conduit Ave & 15...",0.56,0.53,NaN,<1,<1
37937,21215.0,2017-07-31,50200,Operational,"SS - IFO 93 N/S Austin Place, btw Victory Blvd...",0.64,0.62,NaN,<1,<1
37938,21216.0,2017-07-31,50300,Operational,"SS - W/S Clove Rd, 1st S/O Genesee St, 72""",0.73,0.57,NaN,<1,<1
37939,21217.0,2017-07-31,51850,Compliance,"SS - IFO 67 N/S Hill St, 2nd SS W/O Tompkins A...",0.48,0.59,NaN,<1,<1
37940,21218.0,2017-07-31,55450,Compliance,"SS - W/S Seguine Ave, 1st SS S/O Kingsland St,...",0.47,0.55,NaN,<1,<1
37941,21219.0,2017-07-31,57200,Operational,"SS - W/S Richmond Ave, btw Genesee & Scranton ...",0.57,0.57,NaN,<1,<1
37942,21220.0,2017-07-31,58950,Compliance,"SS - IFO 1083 N/S Castleton Ave, 2nd SS W/O Br...",0.75,0.59,NaN,<1,<1
37943,21221.0,2017-07-31,78350,Compliance,"SS - N/S Hillside Avenue, btw 189th & 190th St...",0.44,0.57,NaN,<1,<1
37944,21399.0,2017-07-31,79150,Compliance,"SS - E/S Farmers Blvd, 3rd SS N/O Merrick Blvd",0.07,0.58,NaN,<1,<1